.header {
  width: 85%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    &__home {
      margin-right: 20px;
      font-size: 40px;
      font-weight: 700;
    }
    &__profile {
      font-size: 30px;
      font-weight: 300;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__skill {
      color: white;
      background: black;
      font-size: 30px;
      font-weight: 500;
      padding: 5px;
      margin-right: 5px;
    }
    &__hunt {
      font-size: 30px;
      font-weight: 500;
    }
  }
  &__log-reg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__log-in {
      margin-right: 20px;
      font-size: 30px;
      font-weight: 500;
    }
    &__sign-up {
      font-size: 30px;
      font-weight: 500;
      color: white;
      background: #08090a;
      border-radius: 20px;
      padding: 10px;
    }
  }
}



a {
  color: inherit;
  text-decoration: none;
}




//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: center;
//  width: 100%;
//  height: 100px;
//  background: #AF4425FF;
//
//  &__nav {
//
//    & > * {
//      display: inline;
//      margin-left: 30px;
//      color: white;
//    }
//    &__logo {
//      font-size: 50px;
//      font-weight: 500;
//    }
//    &__your-skills {
//      font-size: 30px;
//    }
//  }
//  .login {
//    cursor: pointer;
//    right: 3%;
//    position: absolute;
//    margin-right: 50px;
//    z-index: 2;
//    user-select: none;
//    -moz-user-select: none;
//    -webkit-user-select: none;
//    -ms-user-select: none;
//  }
//}
