<div class="wrapper">

    <div class="main">
      <div class="title">
        <p>Profile</p>
        <div class="title__line"></div>
      </div>

      <div class="user">
        <img class="user__logo" src="./assets/photo/user-logo.png" alt="">

        <div class="user__nickname">{{this.currentUser?.name}}</div>

        <button (click)="authService.logout()" class="user__logout">LogOut</button>
        <button [routerLink]="['/profile', currentUser?.id]" class="user__edit-profile">Edit Profile</button>
      </div>

      <div class="your-skills">
        <div class="your-skills__title">Your Skills</div>
        <div class="your-skills__line"></div>
        <p>Here you can view existing skills and add to your portfolio so that employers can find you and offer the job of your dreams</p>
        <button class="your-skills__views-skills" (click)="toggleBlock()">View skills</button>
      </div>
    </div>

    @if(isBlockVisible){
      <div class="skills">
        <div class="skills__title">Your Skills</div>
        <div class="skills__container">
            @for (skill of userSkillList; track skill){
            <div class="skills__container__list">
                <div class="skills__container__list__skill-name">{{skill.skillName}}</div>
                <small>{{skill.proficiencyLevel}}</small>
                <div class="skills__container__list__delete-skill">
                  <svg (click)="deleteUserSkill(skill.skillName)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                  </svg>
                </div>
            </div>
            }

        </div>

        <form [formGroup]="addSkillForm" class="skill-form" (ngSubmit)="onSubmit()">
          <input hidden type="text" formControlName="userName" [value]="currentUser?.name">
          <select class="skill-select" formControlName="skillName">
            <option>---</option>
            @if (skillList$ | async; as skillList){
              @for (skill of skillList; track skill){
                <option>{{skill.skillName}}</option>
              }
            }
          </select>
          <select class="skill-select" formControlName="proficiencyLevel">
            <option>---</option>
              @for (level of proficiencyLevel; track level){
                <option>{{level}}</option>
              }
          </select>
          <button type="submit" class="add-skill">Add Skill</button>
        </form>
      </div>

    }

  </div>

