<div class="profile-container">
  @if (this.userProfile$ | async; as user){

    <h1>User Profile</h1>

    <div class="section">
      <h2>User information</h2>
      <div class="info-item"><span>Name:</span> {{user.name}}</div>
      <div class="info-item"><span>Surname:</span> {{user.surname}}</div>
      <div class="info-item"><span>Email:</span> <a href="mailto:{{user.email}}"> {{user.email}}</a></div>
      <div class="info-item"><span>Телефон:</span> {{user.phoneNumber}}</div>
      <div class="info-item"><span>English Level:</span> {{user.englishLevel}}</div>
      <div class="info-item"><span>GitHub:</span> <a href="{{user.gitHubLink}}" target="_blank">{{user.gitHubLink}}</a></div>
      <div class="info-item"><span>Description Skill:</span> {{user.descriptionSkill}}</div>
    </div>
  }

  <div class="section">
    <h2>List of previous companies</h2>
    <ul class="companies-list">
      <li>
        <strong>Компания:</strong> ООО "Пример" <br>
        <strong>Должность:</strong> Менеджер проекта <br>
        <strong>Годы работы:</strong> 2018-2020
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Skills</h2>
    <ul class="skills-list">
      @if (userSkillList$ | async; as skillList){
        @for (skill of skillList; track skill){
          <li>{{skill.skillName}} <small>{{skill.proficiencyLevel}}</small></li>

        }
      }
    </ul>
  </div>
</div>
