<div class="profile-container">

  @if (this.userProfile$ | async; as profileUser) {
    @if (currentUser$ | async; as currentUser) {


      <h1>User Profile</h1>


      <h2>User information
        @if (currentUser.role == "admin") {
          @if (!profileUser.isLock) {
            <button style="background: green">Unlock</button>
          } @else {
            <button style="background: red">Lock</button>
          }
        }
        @if (profileUser.id === currentUser.id) {
          <img (click)="isUpdateUserVisible.set(!isUpdateUserVisible())" src="../../../../assets/photo/edit.svg">
        }
      </h2>
      @if (isUpdateUserVisible()) {
        <div class="section">
          <img [src]="profileUser.photoPath" width="150px" height="150px" alt="User Photo">
          <div class="info-item"><span>Name:</span> {{ profileUser.name }}</div>
          <div class="info-item"><span>Surname:</span> {{ profileUser.surname }}</div>
          <div class="info-item"><span>Email:</span> <a href="mailto:{{profileUser.email}}"> {{ profileUser.email }}</a>
          </div>
          <div class="info-item"><span>Телефон:</span> {{ profileUser.phoneNumber }}</div>
          <div class="info-item"><span>English Level:</span> {{ profileUser.englishLevel }}</div>
          <div class="info-item"><span>GitHub:</span> <a href="{{profileUser.gitHubLink}}"
                                                         target="_blank">{{ profileUser.gitHubLink }}</a></div>
          <div class="info-item"><span>Description Skill:</span> {{ profileUser.descriptionSkill }}</div>
        </div>
      } @else {
        <form [formGroup]="updateUserFG" (ngSubmit)="putUpdateUserSubmit()">
          <div class="section">
            <!--            <label class="info-item" id="userName">Login </label>-->
            <p style="font-size: 30px" class="info-item">{{ profileUser.name }}</p>

            <label class="info-item" id="userSurname">User Surname </label>
            <input type="text" class="info-item" name="userSurname" formControlName="userSurname"
                   placeholder="User Surname">

            <label class="info-item" id="email">Email </label>
            <input type="email" class="info-item" name="email" formControlName="email" placeholder="Email">

            <label class="info-item" id="phoneNumber">Phone Number </label>
            <input type="number" class="info-item" name="phoneNumber" formControlName="phoneNumber"
                   placeholder="Phone Number">

            <label class="info-item" id="englishLevel">English Level </label>
            <input class="info-item" name="englishLevel" formControlName="englishLevel" placeholder="English Level">

            <label class="info-item" id="gitHubLink">GitHub Link </label>
            <input type="url" class="info-item" name="gitHubLink" formControlName="gitHubLink"
                   placeholder="GitHub Link">

            <label class="info-item" id="descriptionSkill">Description Skill </label>
            <textarea class="info-item descript_area_user" name="descriptionSkill" formControlName="descriptionSkill"
                      placeholder="Description SkillInterface"></textarea>
            <button type="submit">Update</button>

          </div>
        </form>
      }

      @if (profileUser.role == "user") {

        <div class="section">
          <h2>List of previous companies</h2>
          <ul class="companies-list">

            @if (userCompanyList$ | async; as companyList) {
              @for (company of companyList; track company) {
                <li class="company_list"
                    (click)="isInfoCompanyVisible.set(!isInfoCompanyVisible())">{{ company.tradeName }}
                  @if (currentUser.id === profileUser.id) {
                    <img (click)="deleteCompany(company.id)" src="../../../../assets/photo/trash.svg" alt="">
                  }
                </li>
                @if (isInfoCompanyVisible()) {
                  <div class="company_info">
                    <label>Data Start: </label>
                    <p>{{ company.dataStart }}</p>
                    <label>Data End: </label>
                    <p>{{ company.dataEnd }}</p>
                    <label>Position: </label>
                    <p>{{ company.positionUser }}</p>
                    <label>Descript your work: </label>
                    <p>{{ company.descriptionUsersWork }}</p>
                    <label>Company link: </label>
                    <a target="_blank" href="{{company.link}}">{{ company.link }}</a>
                    <label id="companySkill">Company Skill: </label>
                    @for (skill of company.skillName; track skill) {
                      <div>
                        {{ skill }}
                        @if (currentUser.id === profileUser.id) {
                          <img (click)="deleteCompanySkill(company.id, skill)" src="../../../../assets/photo/trash.svg"
                               alt="">
                        }
                      </div>
                    }

                    @if (currentUser.id === profileUser.id) {
                      <form [formGroup]="addSkillCompanyFG" (ngSubmit)="addCompanySkillSubmit(company.id)">

                        <input hidden id="companyId" name="companyId" formControlName="companyId">
                        <select class="skill-select" formControlName="skillId">
                          <option>---</option>
                          @if (skillList$ | async; as skillList) {
                            @for (skill of skillList; track skill) {
                              <option [value]="skill.id">{{ skill.skillName }}</option>
                            }
                          }
                        </select>
                        <button type="submit" class="add-skill">Add SkillInterface</button>
                      </form>
                    }

                  </div>
                }
              }
            }


            @if (profileUser.id === currentUser.id) {
              <li class="company_form">
                <button (click)="isAddCompanyVisible.set(!isAddCompanyVisible())">{{
                    !isAddCompanyVisible() ? "+ add company" :
                      "hide"
                  }}
                </button>
                @if (isAddCompanyVisible()) {
                  <form class="company_form" [formGroup]="companyFG" (ngSubmit)="addCompanySubmit()">
                    <label id="tradeName">Trade Name </label>
                    <input name="tradeName" formControlName="tradeName" placeholder="Trade Name">

                    <label id="dataStart">Data Start </label>
                    <input type="date" name="dataStart" formControlName="dataStart" placeholder="Data Start">

                    <label id="dataEnd">Data End </label>
                    <input type="date" name="dataEnd" formControlName="dataEnd" placeholder="Data End">

                    <label id="positionUser">Position </label>
                    <input name="positionUser" formControlName="positionUser" placeholder="Position">

                    <label id="descriptionUsersWork">Descript your work </label>
                    <textarea id="descript_area_company" name="descriptionUsersWork"
                              formControlName="descriptionUsersWork"
                              placeholder="Descript your work"></textarea>

                    <label id="link">Company link </label>
                    <input type="url" name="link" formControlName="link" placeholder="CompanyInterface link">


                    <input hidden name="appUserId" formControlName="appUserId">
                    <button type="submit">Add CompanyInterface</button>
                  </form>
                }

              </li>
            }
          </ul>

          <h2>Skills</h2>
          <ul class="skills-list">
            @if (userSkillList$ | async; as skillList) {
              @for (skill of skillList; track skill) {
                <li>{{ skill.skillName }} <small>{{ skill.proficiencyLevel }}</small></li>

              }
            }
          </ul>
        </div>
      }
    }
  }
</div>
