<div class="login">

  <div class="triangle"></div>
  <div class="login__title">
    <p>Log In</p>
  </div>
  <div class="login__line"></div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input">
      <input type="email" name="email" placeholder="Login" formControlName="email">
      <img src="./assets/register/email.svg" alt="">
    </div>
    <div class="input">

      <input [type]="isPasswordVisible() ? 'text' : 'password'" name="password" placeholder="Password" formControlName="password">
      <img style="cursor: pointer" (click)="isPasswordVisible.set(!isPasswordVisible())" src="./assets/register/password.svg" alt="">
    </div>
    @if (error.length > 1){
      <p style="color:red; margin: 5px">{{this.error}}</p>
    }
    <button type="submit">Log in</button>
  </form>
  <a routerLink='/register'><p class="login__quick-register">Register</p></a>

</div>







