<div class="login">

  <div class="triangle"></div>
  <div class="login__title">
    <p>Log In</p>
  </div>
  <div class="login__line"></div>
  <form (ngSubmit)="login()">
    <div class="input">
      <input type="email" name="email" placeholder="Login" [(ngModel)]="credential.email" required>
      <img src="./assets/register/email.svg">
    </div>
    <div class="input">
      <input type="password" name="password" placeholder="Password" [(ngModel)]="credential.password" required>
      <img src="./assets/register/password.svg">
    </div>
    <button type="submit">Log in</button>
  </form>
  <a routerLink='/register'><p class="login__quick-register">Quick register</p></a>

</div>







