<header class="header">
  <nav class="header__nav">
    <a routerLink = ''><div class="header__nav__home">Home</div></a>



  </nav>
  <a routerLink = ''><div class="header__logo">
    <div class="header__logo__skill">Skill</div>
    <div class="header__logo__hunt">HUNT</div>
  </div></a>
  <div class="header__log-reg">
    @if (currentUser?.role === "admin"){
          <a routerLink = '/admin-page'><div class="header__nav__profile">Admin</div></a>
    } @else if (currentUser?.role === "hunter"){
          <a routerLink = '/hunter-page'><div class="header__log-reg__sign-up">Hunter</div></a>
    } @else if (currentUser?.role === "user"){
          <a routerLink = '/user-page'><div class="header__nav__profile">User</div></a>
    } @else {
      <a routerLink = '/login'><div class="header__log-reg__log-in">Log In</div></a>
      <a routerLink = '/register'><div class="header__log-reg__sign-up">Sign Up</div></a>
    }
  </div>
</header>


<router-outlet></router-outlet>














